<div class="hud">
  <app-header [state]="state" [teamASide]="teamASide" [teamBSide]="teamBSide"></app-header>
  <div class="team-a">
    <div class="equipment-a" [ngClass]="{'show': freezeTime}">
      <app-equipment [money]="teamAMoney" [equipment]="teamAEquipment" [side]="teamASide"></app-equipment>
    </div>
    <div class="sidebar" *ngFor="let i of [0,1,2,3,4]">
      <div class="player-details">
        <app-player-sidebar [player]="teamAPlayers[i]"></app-player-sidebar>
      </div>
      <div class="player-kad" [ngClass]="{'show': freezeTime}">
        <app-player-stats-sidebar [player]="teamAPlayers[i]"></app-player-stats-sidebar>
      </div>
    </div>
  </div>
  <div class="team-b">
    <div class="equipment-b" [ngClass]="{'show': freezeTime}">
      <app-equipment [money]="teamBMoney" [equipment]="teamBEquipment" [side]="teamBSide" [rightAlign]="true"></app-equipment>
    </div>
    <div class="sidebar" *ngFor="let i of [1,2,3,4,0]">
      <div class="player-details">
        <app-player-sidebar [player]="teamBPlayers[i]" [rightAlign]="true"></app-player-sidebar>
      </div>
      <div class="player-kad" [ngClass]="{'show': freezeTime}">
        <app-player-stats-sidebar [player]="teamBPlayers[i]" [rightAlign]="true"></app-player-stats-sidebar>
      </div>
    </div>
  </div>
</div>
