<div class="team-a" [ngClass]="{'ct': teamASide === 'CT', 't': teamASide === 'T'}">
  <div class="name">{{teamA.name}}</div>
  <div class="logo a"></div>
  <div class="score">{{teamAScore}}</div>
</div>
<app-phase-countdown-area [phase]="phase" [mapState]="mapState" [roundState]="roundState"></app-phase-countdown-area>
<div class="team-b" [ngClass]="{'ct': teamBSide === 'CT', 't': teamBSide === 'T'}">
  <div class="name">{{teamB.name}}</div>
  <div class="logo b"></div>
  <div class="score">{{teamBScore}}</div>
</div>
