<div class="blur"></div>
<div class="stats" [ngClass]="{'ct': player && player.team === 'CT', 't': player && player.team === 'T'}">
  <div class="kills">
    <span class="label">K</span>
    <span>{{player && player.match_stats ? player.match_stats.kills : 0}}</span>
  </div>
  <div class="assists">
    <span class="label">A</span>
    <span>{{player && player.match_stats ? player.match_stats.assists: 0}}</span>
  </div>
  <div class="deaths">
    <span class="label">D</span>
    <span>{{player && player.match_stats.deaths ? player.match_stats.deaths : 0}}</span>
  </div>
</div>
<div class="cash">
  <span>-${{player && player.state ? player.state.equip_value : 0}}</span>
</div>
