:host {
  width: 100%;
  height: 100%;
  .weapon {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: right;
    background-size: contain;
    &.weapon_decoy {
      background-image: url('./images/weapon_decoy.png');
      &.active {
        background-image: url('./images/weapon_decoy_active.png')
      }
    }
    &.weapon_flashbang {
      background-image: url('./images/weapon_flashbang.png');
      &.active {
        background-image: url('./images/weapon_flashbang_active.png')
      }
    }
    &.weapon_hegrenade {
      background-image: url('./images/weapon_hegrenade.png');
      &.active {
        background-image: url('./images/weapon_hegrenade_active.png')
      }
    }
    &.weapon_molotov_ct {
      background-image: url('./images/weapon_molotov_ct.png');
      &.active {
        background-image: url('./images/weapon_molotov_ct_active.png')
      }
    }
    &.weapon_molotov_t {
      background-image: url('./images/weapon_molotov_t.png');
      &.active {
        background-image: url('./images/weapon_molotov_t_active.png')
      }
    }
    &.weapon_smokegrenade {
      background-image: url('./images/weapon_smokegrenade.png');
      &.active {
        background-image: url('./images/weapon_smokegrenade_active.png')
      }
    }
    &.weapon_ak47 {
      background-image: url('./images/weapon_ak47.png');
      &.active {
        background-image: url('./images/weapon_ak47_active.png');
      }
    }
    &.weapon_awp {
      background-image: url('./images/weapon_awp.png');
      &.active {
        background-image: url('./images/weapon_awp_active.png');
      }
    }
    &.weapon_famas {
      background-image: url('./images/weapon_famas.png');
      &.active {
        background-image: url('./images/weapon_famas_active.png');
      }
    }
    &.weapon_galilar {
      background-image: url('./images/weapon_galilar.png');
      &.active {
        background-image: url('./images/weapon_galilar_active.png');
      }
    }
    &.weapon_m4a1_silencer {
      background-image: url('./images/weapon_m4a1_silencer.png');
      &.active {
        background-image: url('./images/weapon_m4a1_silencer_active.png');
      }
    }
    &.weapon_m4a1 {
      background-image: url('./images/weapon_m4a1.png');
      &.active {
        background-image: url('./images/weapon_m4a1_active.png');
      }
    }
    &.weapon_ump45 {
      background-image: url('./images/weapon_ump45.png');
      &.active {
        background-image: url('./images/weapon_ump45_active.png');
      }
    }
    &.weapon_taser {
      background-image: url('./images/weapon_taser.png');
      &.active {
        background-image: url('./images/weapon_taser_active.png');
      }
    }
    &.weapon_sawedoff {
      background-image: url('./images/weapon_sawedoff.png');
      &.active {
        background-image: url('./images/weapon_sawedoff_active.png');
      }
    }
    &.weapon_aug {
      background-image: url('./images/weapon_aug.png');
      &.active {
        background-image: url('./images/weapon_aug_active.png');
      }
    }
    &.weapon_mac10 {
      background-image: url('./images/weapon_mac10.png');
      &.active {
        background-image: url('./images/weapon_mac10_active.png');
      }
    }
    &.weapon_mp7 {
      background-image: url('./images/weapon_mp7.png');
      &.active {
        background-image: url('./images/weapon_mp7_active.png');
      }
    }
    &.weapon_mp9 {
      background-image: url('./images/weapon_mp9.png');
      &.active {
        background-image: url('./images/weapon_mp9_active.png');
      }
    }
    &.weapon_p90 {
      background-image: url('./images/weapon_p90.png');
      &.active {
        background-image: url('./images/weapon_p90_active.png');
      }
    }
    &.weapon_ssg08 {
      background-image: url('./images/weapon_ssg08.png');
      &.active {
        background-image: url('./images/weapon_ssg08_active.png');
      }
    }
    &.weapon_bizon {
      background-image: url('./images/weapon_bizon.png');
      &.active {
        background-image: url('./images/weapon_bizon_active.png');
      }
    }
    &.weapon_m249 {
      background-image: url('./images/weapon_m249.png');
      &.active {
        background-image: url('./images/weapon_m249_active.png');
      }
    }
    &.weapon_negev {
      background-image: url('./images/weapon_negev.png');
      &.active {
        background-image: url('./images/weapon_negev_active.png');
      }
    }
    &.weapon_usp_silencer {
      background-image: url('./images/weapon_usp_silencer.png');
      &.active {
        background-image: url('./images/weapon_usp_silencer_active.png');
      }
    }
    &.weapon_cz75a {
      background-image: url('./images/weapon_cz75a.png');
      &.active {
        background-image: url('./images/weapon_cz75a_active.png');
      }
    }
    &.weapon_deagle {
      background-image: url('./images/weapon_deagle.png');
      &.active {
        background-image: url('./images/weapon_deagle_active.png');
      }
    }
    &.weapon_elite {
      background-image: url('./images/weapon_elite.png');
      &.active {
        background-image: url('./images/weapon_elite_active.png');
      }
    }
    &.weapon_fiveseven {
      background-image: url('./images/weapon_fiveseven.png');
      &.active {
        background-image: url('./images/weapon_fiveseven_active.png');
      }
    }
    &.weapon_glock {
      background-image: url('./images/weapon_glock.png');
      &.active {
        background-image: url('./images/weapon_glock_active.png');
      }
    }
    &.weapon_tec9 {
      background-image: url('./images/weapon_tec9.png');
      &.active {
        background-image: url('./images/weapon_tec9_active.png');
      }
    }
    &.weapon_p250 {
      background-image: url('./images/weapon_p250.png');
      &.active {
        background-image: url('./images/weapon_p250_active.png');
      }
    }
    &.weapon_hkp2000 {
      background-image: url('./images/weapon_hkp2000.png');
      &.active {
        background-image: url('./images/weapon_hkp2000_active.png');
      }
    }
    &.flip {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH"; // background-position-x: 2%;
      .weapon {
        background-position: left;
      }
    }
  }
}
